.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  font-size: var(--main-font-size);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.block {
  inline-size: var(--content-width);
  margin: 99px auto;
}

.header {
  background-color: #fff;
  border: 2px solid #000;
  font-family: var(--accent-font), sans-serif;
  padding: clamp(122px, 119.1831px + 0.7512vw, 130px) 0;
}

.title {
  font-size: clamp(49px, 43.3662px + 1.5023vw, 65px);
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  font-size: clamp(14px, 10.831px + 0.8451vw, 23px);
  text-align: center;
  text-transform: uppercase;
}

.cards {
  list-style: none;
  display: grid;
  gap: 52px;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
}

.card__title {
  font-variation-settings: 'wght' var(--title-font-weight);
  font-size: var(--main-font-size);
  padding: 4px 10px;
  border-bottom: 2px solid #000;
}

.image {
  inline-size: 100%;
  padding: 0;
}

.image_preparation-for-work {
  filter: brightness(150%);
}

.image_clean-sheet {
  filter: saturate(170%);
}

.image_i-cant-do-it {
  filter: hue-rotate(110deg);
}

.image_pursuit-of-the-ideal {
  filter: sepia(40%);
}

.image_nearby {
  filter: invert(0.2);
}

.image_workaround-strategies {
  filter: contrast(50%) brightness(75%);
}

.image_hands-go-down {
  filter: saturate(65%);
}

.image_im-here {
  filter: blur(2px);
}

.card__text {
  padding: 23px 25px;
  display: grid;
  gap: 25px;
  border-top: 2px solid #000;
}

.card__like {
  padding: 0 25px 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
}

.button {
  background-color: #fff;
  border-radius: 0;
  border: 2px solid #000;
  position: relative;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button:after {
  content: '';
  position: absolute;
  background-color: #000;
  inset: 0;
  scale: 0 1;
  transform-origin: left center;
  transition: scale 0.5s ease-in-out;
}

.button:hover:after {
  scale: 1 1;
}

.card__like-button {
  padding: 6px 0;
  inline-size: 130px;
}

.card__icon-button {
  background-color: #fff;
  transition: border 0.3s ease;
  border: 2px solid transparent;
  padding: 0;
  line-height: 0;
  max-block-size: 37px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: #000;
}

.button__text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  color: var(--text-color);
  position: relative;
  z-index: 1;
}

.decor {
  position: relative;
  line-height: 0;
}

.description {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--outline-color),
    0 1px var(--outline-color),
    1px 0 var(--outline-color),
    0 -1px var(--outline-color);
  opacity: 0.5;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .description {
    -webkit-text-stroke: 1px var(--outline-color);
    text-stroke: 1px var(--outline-color);
    text-shadow: none;
  }
}

.button-save {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 17px 19px 16px 20px;
  margin: 50px auto 0;
}

.button-save .floppy-icon {
  mix-blend-mode: difference;
  fill: var(--text-color);
  stroke: var(--text-color);
  position: relative;
  z-index: 1;
}

@media (width <= 375px) {
  .button-save {
    flex-direction: column;
  }

  .button-save .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}

.dialog {
  position: fixed;
  inset: 0;
  inline-size: 341px;
  border: 2px solid #000;
  padding: 28px 40px;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog:is([open]) {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  padding: 7px 120px 6px 114px;
  text-transform: uppercase;
}

.dialog__content .floppy-icon {
  min-inline-size: 39px;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: #000;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: #000;
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scaling 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}
